<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn ">

    <!--Call to action-->
    <div style="background-color: #303030;" class="pt-4">
        <!-- <a class="btn btn-outline-white" href="#" role="button">
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="#" role="button">
            <i class="fas fa-graduation-cap ml-2"></i>
        </a> -->

        <!--/.Call to action-->

        <!-- <hr style="background-color: #303030;" class="my-4"> -->

        <!-- Social icons -->

        <div style="padding-bottom: 15px;">
            <a href="#">
                <i class="fab fa-facebook-f fa-2x mr-5"></i>
            </a>

            <a href="#">
                <i class="fab fa-twitter fa-2x mr-5"></i>
            </a>

            <a href="#">
                <i class="fab fa-youtube fa-2x mr-5"></i>
            </a>

            <a href="#">
                <i class="fab fa-pinterest fa-2x"></i>
            </a>
        </div>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div style="background-color: #202020;" class="footer-copyright py-3">
        © 2020 Copyright · MM
        <a href="#"></a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
