{% extends 'base.html' %}
{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table table-hover" style="width: 100%;">
                    <tr>
                        <th style="font-weight: bolder;">Product</th>
                        <th style="font-weight: bolder;">Category</th>
                        <th style="font-weight: bolder;">Price</th>
                        <th style="font-weight: bolder;">Date Added</th>
                    </tr>

                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.date_created|date:'F d, Y' }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
