{% extends 'base.html' %}

{% block content %}
{% include 'status.html' %}


<div class="row">
    <div class="col-md">
        <div class="card card-body user-footer">
            {% if orders %}
            <h2 style="font-weight: 500;">All orders for {{ request.user }}</h2>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <!-- <th>Update</th>
                        <th>Remove</th> -->
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.date_created|date:'F d, Y' }}</td>
                    <td>{{ order.status }}</td>
                    <!-- <td><a href="{% url 'update_order' order.id %}" class="btn btn-light btn-sm">Update</a></td>
                        <td><a href="{% url 'delete_order' order.id %}" class="btn btn-dark btn-sm">Remove</a></td> -->
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2>You currently have no orders</h2>
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}
